.wrapper{
    min-height: 100vh;
}
.card{
    height: 600px;
}
.card-text{
    height: 200px;
}
@media screen and (max-width: 1200px){
    .card{
        height: 760px;
    }
    .card-text{
        height: 200px;
    }
}
@media screen and (max-width: 768px){
    .card{
        height: 700px;
    }
    .card-text{
        height: 200px;
    }
    .me-5{
        margin: auto 0 auto 32.5%;
    }
}
/* *{
    border: 1px solid red;
} */