{% extends 'modelo.html' %}
<!--BOTÃO DE LOGOFF-->
{% block botao %}
    {% if login %}
        <a href="/logoff"><button class="btn btn-light btn-sm text-success p-2 me-3" type="submit">Logoff</button></a>
    {% endif %}
{% endblock %}

<!--CONTEÚDO DO SITE-->
{% block conteudo %}
    <div class="d-flex flex-column w-100">
      <div style="padding: 0" class="container-fluid">
        <div style="padding: 0" id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/img/slides/slide01.jpg" class="d-block w-100" alt="Slide 01">
            </div>
            <div class="carousel-item">
              <img src="/static/img/slides/slide02.jpg" class="d-block w-100" alt="Slide 02">
            </div>
            <div class="carousel-item">
              <img src="/static/img/slides/slide03.jpg" class="d-block w-100" alt="Slide 03">
            </div>
          </div>
        </div>
      </div>  

      <!--Título-->
      <div class="container-fluid text-center my-3">
        <h1>Produtos da semana</h1>
      </div>

      <!--Cards de produtos-->
      <div class="container">
        <div class="row g-4">
          <div class="col col-12 col-md-6 col-xl-3">
            <div class="card ">
              <img src="/static/img/produtos/000001.jpg" class="card-img-top" alt="Banana">
              <div class="card-body">
                <h5 class="card-title">Banana Caturra Orgânica</h5>
                <p class="card-text">Nossas bananas Caturra orgânicas são cultivadas com cuidado e carinho, trazendo o sabor autêntico da natureza diretamente para sua mesa. São fontes naturais de energia, ricas em potássio e fibras. Aprecie o sabor fresco e a textura suculenta dessas frutas que são colhidas no ponto perfeito de maturação.</p>
                <p class="text-center fs-5 border-top "><strong>Preço:</strong> R$ 4,99/kg</p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-6 col-xl-3">
            <div class="card ">
              <img src="/static/img/produtos/000002.jpg" class="card-img-top" alt="Abacaxi">
              <div class="card-body">
                <h5 class="card-title">Abacaxi Pérola Doce</h5>
                <p class="card-text">O abacaxi Pérola Doce é a escolha perfeita para quem busca um sabor doce e suculento. Cultivado com expertise, este abacaxi é uma explosão de frescor tropical em cada pedaço. Com sua polpa dourada e aroma irresistível, é uma adição saudável e deliciosa para o seu cardápio.</p>
                <p class="text-center fs-5 border-top "><strong>Preço:</strong> R$ 4,99/kg</p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-6 col-xl-3">
            <div class="card ">
              <img src="/static/img/produtos/000003.jpg" class="card-img-top" alt="Mamão">
              <div class="card-body">
                <h5 class="card-title">Mamão Formosa Maduro</h5>
                <p class="card-text">Nosso mamão Formosa maduro é uma ode à doçura natural e à textura macia. Colhido no auge da maturação, ele oferece uma explosão de sabor tropical em cada garfada. Rico em vitaminas e minerais, é uma opção saudável e deliciosa para seu café da manhã ou lanche.</p>
                <p class="text-center fs-5 border-top "><strong>Preço:</strong> R$ 4,99/kg</p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-6 col-xl-3">
            <div class="card ">
              <img src="/static/img/produtos/000004.jpg" class="card-img-top" alt="Maçã">
              <div class="card-body">
                <h5 class="card-title">Maçã Gala Crocante</h5>
                <p class="card-text">As maçãs Gala são sinônimo de crocância e doçura equilibrada. Colhidas com esmero, cada mordida revela a perfeição da natureza em forma de fruta. Com uma pele fina e polpa suculenta, são ideais para consumir in natura ou como ingrediente em receitas saudáveis e saborosas.</p>
                <p class="text-center fs-5 border-top "><strong>Preço:</strong> R$ 4,99/kg</p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-6 col-xl-3">
            <div class="card ">
              <img src="/static/img/produtos/000005.jpg" class="card-img-top" alt="Goiaba">
              <div class="card-body">
                <h5 class="card-title">Goiaba Vermelha Docinha</h5>
                <p class="card-text">Nossas goiabas vermelhas são um verdadeiro deleite para o paladar. Suculentas e naturalmente adocicadas, elas são um tesouro da natureza. Além de deliciosas, são ricas em vitaminas e fibras, tornando-se uma escolha nutritiva para o seu dia a dia.</p>
                <p class="text-center fs-5 border-top "><strong>Preço:</strong> R$ 4,99/kg</p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-6 col-xl-3">
            <div class="card ">
              <img src="/static/img/produtos/000006.jpg" class="card-img-top" alt="Laranja">
              <div class="card-body">
                <h5 class="card-title">Laranja Pera</h5>
                <p class="card-text">Nossas laranjas Pera são cuidadosamente selecionadas para garantir o máximo de sabor e suculência. Com um equilíbrio perfeito entre doçura e acidez, são ideais para extrair suco natural fresco. Além disso, são uma excelente fonte de vitamina C para fortalecer o sistema imunológico.</p>
                <p class="text-center fs-5 border-top "><strong>Preço:</strong> R$ 4,99/kg</p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-6 col-xl-3">
            <div class="card ">
              <img src="/static/img/produtos/000007.jpg" class="card-img-top" alt="Abacate">
              <div class="card-body">
                <h5 class="card-title">Abacate Hass Maduro</h5>
                <p class="card-text">O abacate Hass é conhecido pela sua textura cremosa e sabor marcante. Colhidos no ponto exato de maturação, nossos abacates são perfeitos para guacamoles, saladas e até mesmo para consumir puro. Além de deliciosos, são repletos de nutrientes essenciais para uma alimentação equilibrada.</p>
                <p class="text-center fs-5 border-top "><strong>Preço:</strong> R$ 4,99/kg</p> 
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-6 col-xl-3">
            <div class="card ">
              <img src="/static/img/produtos/000008.jpg" class="card-img-top" alt="Pepino">
              <div class="card-body">
                <h5 class="card-title">Pepino Japonês Fresco</h5>
                <p class="card-text">Os pepinos japoneses são um verdadeiro tesouro de frescor e crocância. Com uma casca fina e polpa suculenta, são ideais para saladas, conservas e acompanhamentos. Além disso, são uma fonte rica de hidratação e nutrientes essenciais para uma dieta equilibrada.</p>
                <p class="text-center fs-5 border-top "><strong>Preço:</strong> R$ 4,99/kg</p>
              </div> 
            </div>
          </div>
          <div class="col col-12 col-md-6 col-xl-3">
            <div class="card ">
              <img src="/static/img/produtos/000009.jpg" class="card-img-top" alt="Abóbora">
              <div class="card-body">
                <h5 class="card-title">Abóbora Cabotiá Nutritiva</h5>
                <p class="card-text">Nossa abóbora cabotiá é uma verdadeira fonte de nutrientes e sabor. Com sua polpa densa e adocicada, é ideal para pratos assados, sopas e purês reconfortantes. Além disso, é uma excelente fonte de vitaminas e minerais essenciais para uma alimentação saudável.</p>
                <p class="text-center fs-5 border-top "><strong>Preço:</strong> R$ 4,99/kg</p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-6 col-xl-3">
            <div class="card ">
              <img src="/static/img/produtos/000010.jpg" class="card-img-top" alt="Abobrinha">
              <div class="card-body">
                <h5 class="card-title">Abobrinha Italiana Versátil</h5>
                <p class="card-text">A abobrinha italiana é conhecida pela sua versatilidade na culinária. Com uma textura delicada e sabor suave, pode ser grelhada, recheada, ou usada em preparações diversas. Além de ser uma excelente fonte de fibras e vitaminas, é uma adição saudável e deliciosa para suas refeições.</p>
                <p class="text-center fs-5 border-top "><strong>Preço:</strong> R$ 4,99/kg</p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-6 col-xl-3">
            <div class="card ">
              <img src="/static/img/produtos/000011.jpg" class="card-img-top" alt="Alface">
              <div class="card-body">
                <h5 class="card-title">Alface Crespa Orgânica</h5>
                <p class="card-text">Nossa alface crespa orgânica é um convite à frescura e ao sabor autêntico. Cultivada de forma sustentável, preserva todas as propriedades naturais que fazem bem ao corpo. Com suas folhas crocantes e sabor suave, é a base perfeita para saladas nutritivas e refeições leves.</p>
                <p class="text-center fs-5 border-top "><strong>Preço:</strong> R$ 4,99/kg</p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-6 col-xl-3">
            <div class="card ">
              <img src="/static/img/produtos/000012.jpg" class="card-img-top" alt="Alho">
              <div class="card-body">
                <h5 class="card-title">Alho Roxo Aromático</h5>
                <p class="card-text">Nosso alho roxo é mais do que um tempero, é um verdadeiro tesouro aromático. Com seus bulbos firmes e cascas roxas, proporciona um sabor intenso e marcante a qualquer prato. Além do seu potencial culinário, o alho é conhecido por suas propriedades benéficas para a saúde.</p>
                <p class="text-center fs-5 border-top "><strong>Preço:</strong> R$ 4,99/kg</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}